<!doctype html>
<html lang="en">

{%load static%}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portafolios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<link rel="stylesheet" href="{%static '/css/style.css'%}">

<body class="container mt-5">

    <div class="alert alert-info text-center display-1">

        <img src="{% static 'img/imagen1.png'%}" alt="" width="100px"> Mi portafolios

    </div>

    <div class="row">
        <div class="card mb-2" width="100px text-center display-1">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src={{ Imagen }} class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Sobre mi</h3>
                        <p class="card-text">Nombre: {{Nombre}}</p>
                        <p class="card-text">Apellido: {{Apellido}}</p>
                        <p class="card-text">Profesión: {{Profesion}}</p>
                        <p class="card-text">Edad: {{Edad}}</p>
                        <p class="card-text">Ciudad: {{Ciudad}}</p>
                        <p class="card-text">Tipos de proyectos: {{Proyectos}}</p>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <a href="/proyecto1" class="btn btn-danger p-3 w-100"> Proyecto1</a>

        </div>

        <div class="col">
            <a href="/proyecto2" class="btn btn-warning p-3 w-100"> Proyecto2</a>

        </div>

        <div class="col">
            <a href="/proyecto3" class="btn btn-info p-3 w-100"> Proyecto3</a>

        </div>




    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>

</html>