<!DOCTYPE html>
<html lang="en">

{%load static%}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mis Proyectos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<link rel="stylesheet" href="{%static '/css/style2.css'%}">

<body class="container mt-5">

    <div class="alert alert-info text-center display-1">

        <img src="{% static 'img/imagen1.png'%}" alt="" width="100px"> Sobre mis proyectos

    </div>

    <h1 class="mt-5">Nombre Proyecto: {{NombreProyecto}}</h1>


    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{Imagen}}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>


    <div class="card">
        <h3 class="card-header">Detalle del proyecto</h3>
        <div class="card-body">
            <h5 class="card-title">{{Detalle}}</h5>
            <p class="card-text">Año de creación : {{Año}}</p>
            <p class="card-text"> {{Cliente}}</p>
            <p class="card-text">Lugar de realización : {{Lugar}}</p>
            <p class="card-text">Tipos de niveles : {{Nivel}}</p>
            <p class="card-text">Planes disponibles : {{Planes}}</p>
            <p class="card-text">{{Mas}}</p>


            <a href="/ " class="btn btn-primary">Volver</a>
        </div>
    </div>




    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js " integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8 " crossorigin="anonymous "></script>
</body>

</html>

</html>